/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*end of css reset*/
html {
    font-size: calc( 6px + (16 - 6) * ( (100vw - 320px) / (1800 - 320) ));;
    width: 100%;
}
body {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-size: calc( 6px + (16 - 6) * ( (100vw - 320px) / (1800 - 320) ));;
}
p {
    color: #333e48;
}
h3 {
    color: #333e48;
}
a {
    text-decoration: none;
    text-decoration: -moz-none;
}

body {
    font-size: calc( 6px + (16 - 6) * ( (100vw - 320px) / (1800 - 320) ));;
}
.fourteen-point {
    font-family: "Interstate Light";
    font-size: calc( 10px + (18.6 - 10) * ( (100vw - 320px) / (1800 - 320) ));;
}
.two-sixty-six-point {
    color: #c3c5c8;
    font-size: calc( 111px + (355 - 111) * ( (100vw - 320px) / (1800 - 320) ));;
    font-family: 'Miller Text Italic';
}
.eighty-point {
    font-family: 'Miller Text Italic';
    font-size: calc( 33px + (107 - 33) * ( (100vw - 320px) / (1800 - 320) ));;
}
.sixty-point {
    font-family: 'Miller Text Italic';
    font-size: calc( 25px + (80 - 25) * ( (100vw - 320px) / (1800 - 320) ));;
}
.thirty-eight-point {
    font-family: 'Interstate UltraBlack';
    font-size: calc( 16px + (51 - 16) * ( (100vw - 320px) / (1800 - 320) ));;
    color: #dc1e35;
    margin: 5vw auto 2vw auto;
}
.twenty-four-point {
    font-family: 'Interstate Light';
    font-size: calc( 10px + (32 - 10) * ( (100vw - 320px) / (1800 - 320) ));;
}
.eighteen-point {
    font-family: "Miller Text Italic";
    font-size: calc( 10px + (24 - 10) * ( (100vw - 320px) / (1800 - 320) ));;
}

.red-line {
    background-color: #ffffff;
    width: 100vw;
    height: 30vw;
    max-height: 500px;
    z-index: 0;
}
.red-line div {
    width: .2vw;
    min-width: 3px;
    height: inherit;
    margin: 0 auto;
    background-color: #dc1e35;
    z-index: 0;
}
.text-block p {
    color: #ffffff;
}

.cutout-bottom{position:absolute; left:0;top:-1px; z-index:100; width:100%;}
.cutout-top{position:absolute; left:0;bottom:1%; z-index:100; width:100%;}
#title {
    position: relative;
    top:-10px;
    width: 100%;
    height: 58vw;
    overflow-y: visible;
    margin: 0 0 20vw 0;

}
#cut-out {
    content: '';
    position: absolute;
    display: block;
    z-index: 10;
    bottom: 0;
    width: 101%;
    height: 25%;
    background: #ffffff;
    -webkit-clip-path: polygon(0 0, 50% 90%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 50% 90%, 100% 0, 100% 100%, 0 100%);
}
#title .sixty-point {
    color: #ffffff;
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;

}

#footer .fullscreen-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#success-quote {
    position: relative;
    width: 70%;
    max-width: 1024px;
    margin: 8vw auto;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
}

#success-quote .eighty-point {
    position: relative;
    color: #333e48;
    z-index: 2;
    text-align: center;
    margin-left: -.3em;
    padding-bottom: 10rem;
}
#success-quote .fourteen-point {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 5em;
    width: 11rem;
    min-width: 90px;
    max-width: 150px;
    height: 11rem;
    min-height: 90px;
    max-height: 150px;
    background-color: #dc1e35;
    color: #ffffff;
    z-index: 1;
    padding: 1.5em;
    line-height: 1.3;
}
#red-block-quote {
    background-color: #dc1e35;
    width: 51%;
    max-width: 780px;
    height: 51vw;
    max-height: 780px;
    margin: 0 auto;
    line-height: 1.4;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}
#red-block-quote p {
    color: #ffffff;
}
#exciting {
    width: 80%;
    max-width: 1024px;
    margin: 6vw auto;
    background-color: #ffffff;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-around;
}
#exciting .sixty-point {
    color: #333e48;
    align-self: left;
}
#exciting img {
    width: 100%;
    position: relative;
    z-index: 1;
}
#exciting .text-block:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#exciting .text-block {
    position: absolute;
    right: -2em;
    top: 2em;
    z-index: 2;
    width: 25vw;
    max-width: 19em;
    padding: 1.5em;
    background-color: #333e48;
    transition: box-shadow .5s;
}
#exciting .text-block p {
    color: #ffffff;
    line-height: 1.2;
    margin: .3em;
}
#exciting .container {
    position: relative;
    margin: 2vw 0;
}

#exciting .two-image-container {
    width: 100%;
    margin: 2vw 0 0 0;
    position: relative;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#exciting .two-image-container div {
    position: relative;
    width: 45%;
}
#exciting .two-image-container .text-block {
    position: absolute;
    right: -2em;
    width: 25vw;
    max-width: 21em;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    align-items: flex-start;
}
#white-papers {
    position: relative;
    width: 80%;
    max-width: 1100px;
    margin: 3vw auto;
    background-color: #ffffff;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
#white-papers p {
    display: inline-block;
    color: #333e48;
}

#white-papers .text {z-index: 2}
#white-papers p.two-sixty-six-point {
    margin-right: -5vw;
    color: #c3c5c8;
}
#white-papers .two-image-container {
    position: relative;
    width: 110%;
    max-width: 1100px;
    align-self: center;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    z-index: 1;
}
#white-papers .two-image-container img {
    width: 100%;
    height: auto;
}
#white-papers .image-1 {
    position: relative;
    width: 50%;
    height: auto;
    bottom: 2vw;
}
#white-papers .image-2 {
    position: relative;
    width: 50%;
    height: auto;
    bottom: 6vw;
}

#pet {
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    justify-content: center;
    z-index: 1
}
#pet .image-gallery {
    width: 100%;
    max-width: 1100px;
    padding: 10vw 0 10vw 0.5vw;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    align-items: center;
}
#pet .image-gallery .image:not(.dog-art) {
    position: relative;
    flex-basis: 23%;
    margin: 0.5vw 0.5vw;
    max-width: 225px;
    max-height: 225px;
}
#pet .image-gallery .dog-art {
    position: relative;
    flex-basis: 23%;
    margin: 0.5vw 0.5vw;
    max-width: 225px;
    max-height: 225px;
}
#pet .image-gallery .dog-art img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.image-gallery .image img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
#pet .image-gallery .image:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    transition: all .3s linear;
}
#pet .image-gallery .image:hover:before {
    background: rgba(255,30,52, 0.8);
}
.name {
    width: 100%;
    height: 23vw;
    max-width: 225px;
    max-height: 225px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}
.name .fourteen-point {
    color: #ffffff;
}
.name:hover {
    opacity: 1;

}
.image-gallery .blank-image {
    position: relative;
    width: 23%;
    height: 23vw;
    margin: 0.5vw 0.5vw;
    max-width: 225px;
    max-height: 225px;
    background-color: #eaeaea;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pet .blank-image .number-1 {
    position: relative;
    z-index: 1;
    margin-left: .5em;
}
#pet .blank-image .number-2 {
    position: relative;
    z-index: 3;
    margin: 3em -.8em 0 0;

}
#pet .blank-image .number-3 {
    position: relative;
    z-index: 3;
    margin-top: -1.2em;
}
#pet .blank-image .number-4 {
    position: relative;
    z-index: 3;
    margin-left: 1.3em;
}
#bbb {
    width: 100%;
    position: relative;
    margin-top: 6vw;
}
#bbb .text {
    position: relative;
    width: 100%;
}
#bbb .text-block {
    position: absolute;
    right: 7vw;
    bottom: -6vw;
    width: 16em;
    min-width: 140px;
    max-width: 230px;
    height: 16em;
    min-height: 140px;
    max-height: 230px;
    background-color: #dc1e35;
    color: #ffffff;
    z-index: 1;
    padding: 2%;
    line-height: 1.3;
}
#bbb .sixty-point {
    position: relative;
    left: 20%;
    z-index: 2;
    width: 80%;
    max-width: 1000px;
    margin-bottom: -4rem;
}
#bbb .two-sixty-six-point {
    position: relative;
    z-index: 1;
    width: 50%;
    margin: 0 auto;
}
a:hover {
    cursor: pointer;
}
.button-left {
    position:absolute;
    top:50%;
    left:5vw;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}
.button-right{
    position:absolute;
    top:50%;
    right:5vw;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
}
.mySlidesBBB {
    width: 100%;
}

#core-values {
    width: 100%;
    background-color: #eaeaea;
    padding: 8rem 0;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#core-values h3 {
    width: 40rem;
    text-align: center;
}
#core-values p {
    width: 26rem;
    margin: 2rem 0 2rem 3.7rem;
    line-height: 1.5;
}

.carousel {
    position: relative;
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.mySlides {
    width: 70%;
    margin: 0 5vw;
}
/*compatibility fix for firefox-flexbox*/
#donuts, #donuts .text {
    min-height: 0;
    min-width: 0;}
/* === */

#donuts {
    border: solid #dc1e35 3rem;
    width: 65%;
    background-color: white;
    max-width: 900px;
    height: 65vw;
    max-height: 900px;
    z-index: 1;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: visible;
}
#donuts .text {
    position: relative;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 5;
}
#donuts h3 {
    color: #333e48;
    position: relative;
    margin-bottom: 4rem;
}
#donuts h1{letter-spacing: -10px;}
#donuts p {
    margin: 0 0 2% 3%;
}
#donuts p.fourteen-point {
    position: relative;
    z-index: 5;
}
#donuts .two-sixty-six-point {
    margin: 0 -2rem 0 -1rem;
}
#donuts img {
    position:absolute;
    margin-top: 16%;
    margin-left: 12%;
    width: 63vw;
    max-width: 850px;
    height: 63vw;
    max-height: 850px;
    overflow: visible;
    z-index: 4;
}
#awards {
    width: 90%;
    margin: 6vw 0 6vw 10%;
    position: relative;
}

#awards .image-gallery {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
#awards .image-gallery .image {
    position: relative;
}
#awards .image-gallery .image img {
    width: 100%;
    height: auto;
}

#awards .image-gallery .image:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    transition: all .3s linear;
    flex-basis: 100%;
    height: auto;
}
#awards .image-gallery .image:hover:before {
    background: rgba(255,30,52, 0.8);
    flex-basis: 100%;
    height: auto;
}
#awards .one-hundred-percent {
    width: 100%;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
}
#awards .seventy-five-percent {
    width: 69%;
    max-height: 265px;
    margin: 0.5vw 3vw 0.5vw 0;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}
.award-text div {
    width: 60%;
}
#awards .fifty-percent {
    flex-basis: 46%;
    margin: 0.4vw 0.4vw;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
#awards .twenty-five-percent {
    flex-basis: 23%;
    margin: 0.5vw 0.5vw;
}
#awards .sixty-point {
    margin: .3em 0;
}
#awards .twenty-four-point {
    font-family: 'Miller Text Italic';
    color: #dc1e35;
    margin: .8em 0 0.1em 0;
}
#awards .fourteen-point {
    margin: 0.3em 0 0.5em 0;
    line-height: 1.2;
}
#awards .blank-image {
    background: #ffffff;
}
.award-logo {
    width: 85%;
    height: 85%;
    padding: 7.5%;
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.award-logo:hover {
    opacity: 1;
}

#inspiration-day {
    position: relative;
    -webkit-background-image: url("assets/InspirationDay/AnnualReport_ImageLinks_InspirationDay_larger.jpg");
    background-repeat: no-repeat;
    background-image: url("assets/InspirationDay/AnnualReport_ImageLinks_InspirationDay_larger.jpg");
    background-size: 100%;
    width: 100%;
    height: 160vw;
    display: flex;
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: -webkit-flex;
   justify-content: center;
   align-items: flex-start;
    display: block;
    top: 15vw;
    z-index: 1;
}
#inspiration-day .text {
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 17rem 0
}
#inspiration-day h3 {
    position: absolute;
    right:30%;
    display: block;
    z-index: 2;
    text-align: center;
    overflow: visible;
}
#inspiration-day .caption {
    position: absolute;
    left: 10%;
    bottom: 10%;

}
#inspiration-day .text-block {
    position: absolute;
    right: 20%;
    top:0;
    z-index: 1;
    width: 11em;
    min-width: 60px;
    max-width: 235px;
    height: 11em;
    min-height: 60px;
    max-height: 235px;
    align-self: flex-end;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #dc1e35;
    color: #ffffff;
    padding: 1.3em;
    line-height: 1.3;
}

#inspiration-day #pin1 {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 1.6;
    z-index: 5;
    padding: 5em 0 15em 0;
}
#inspiration-day .twenty-four-point {
    font-family: "Miller Text Italic";
    color: #ffffff;
}
#twenty-four-hour-give {
    width: 100%;
    margin: 6vw auto 10vw auto;
    position: relative;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
#twenty-four-hour-give .sixty-point {
    position: relative;
    align-self: flex-end;
    width: 70%;
    margin: -.9em -.1em .5em 0;
}
#twenty-four-hour-give .two-sixty-six-point {
    width: 100%;
    margin-left: -4rem;
}
#twenty-four-hour-give img {
    width: 100%;
}
#twenty-four-hour-give img:hover {
    cursor: pointer;
}
#twenty-four-hour-give .text-block {
    position: absolute;
    bottom: -6vw;
    right: 7vw;
    width: 14em;
    min-width: 120px;
    max-width: 210px;
    height: 14em;
    min-height: 120px;
    max-height: 210px;
    background-color: #dc1e35;
    z-index: 4;
    padding: 2%;
    line-height: 1.3;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: rgba(0,0,0,0);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0 20px 20px 20px;
    width: 560px; /* Could be more or less, depending on screen size */
    height: 345px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #dc1e35;
    text-decoration: none;
    cursor: pointer;
}

#twenty-four-hour-give div p {
    color: #ffffff;
}
#birthday {
    width: 100%;
    position: relative;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
    z-index: 1;
}
#birthday .text {
    width: 70%;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}
#birthday .text .one {
    align-self: flex-start;
    margin-bottom: -6rem;
    position: relative;
    z-index: 2;
}
#birthday .text .two {
    position: relative;
    z-index: 1;
}
#birthday .text .three {
    position: relative;
    z-index: 2;
    align-self: flex-end;
    margin-top: -6rem;
}
#birthday img {
    width: 100%;
}
#birthday .text-block {
    position: absolute;
    right: 7vw;
    bottom: -6vw;
    width: 15em;
    height: 15em;
    background-color: #dc1e35;
    color: #ffffff;
    z-index: 1;
    padding: 2%;
    line-height: 1.3;
}
#conclusion {
    position: relative;
    display: flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5vw 0 15vw 0;
}
#conclusion h3 {
    color: #333e48;
    margin: 2rem 0;
}
#conclusion p {
    color: #dc1e35;
    line-height: 1.3;
}
#conclusion p:nth-of-type(2) {
    margin-bottom: 1.5rem;
}
#conclusion p:last-of-type {
    font-family: "Miller Text Italic";
}
#conclusion img{
    position: relative;
    z-index: 3;
    width: 100%;
}
#footer {
    position: relative;
    width: 100%;
    height: 56vw;
    overflow-y: visible;
    margin: 0;

}

#triangle {
    content: '';
    position: absolute;
    display: block;
    z-index: 10;
    top: -8px;
    width: 100%;
    height: 25%;
    background: #ffffff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 15%, 50% 100%, 0 15%);
    clip-path: polygon(0 0, 100% 0, 100% 15%, 50% 100%, 0 15%);
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yesVideo {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position:absolute !important;
    right: 0 !important;
    bottom:-22.50% !important;
}

/*ugly hack to fix donut flashing at the top on load*/
.hideMe {
    visibility:hidden;
}

.bob {
    z-index: 1000;
    font-family: Arial;
    float: right;
    font-size: 3.3em;
    position: relative;
    background: black;
    padding-right: .2em;
    padding-left: .2em;
}

@media only screen and (min-width: 1100px) {

    #awards {

        margin: 6vw auto;

    }

}
@media only screen and (max-width: 1024px) {
    #success-quote {
        width: 75%;
    }
    #red-block-quote {
        width: 53%;
        height: 53vw;
        padding: 7%;
    }
    #bbb .sixty-point {
        left: 20%;
    }
    #bbb .text-block {
        width: 17em;
        height: 17em;
    }
    #inspiration-day {
        -webkit-background-image: url("assets/InspirationDay/AnnualReport_ImageLinks_InspirationDay.jpg");
        background-repeat: no-repeat;
        background-image: url("assets/InspirationDay/AnnualReport_ImageLinks_InspirationDay.jpg");
    }
    #twenty-four-hour-give .text-block {
        width: 15em;
        height: 15em;
    }
    .yesVideo {
        bottom: -27.50% !important;
    }
}
@media only screen and (max-width: 750px) {
    #success-quote {
        width: 80%;
    }
    #red-block-quote {
        width: 62%;
        height: 62vw;
        padding: 6%;
    }
    #bbb .sixty-point {
        left: 18%;
    }
    #awards .image-gallery {
        width: 100%;
        display: -webkit-flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-align-content: space-between;
        align-content: space-between;
    }

    #awards .seventy-five-percent {
        width: 100%;
        height: 50rem;
        max-height: 350px
    }

    #awards .twenty-five-percent {
        flex-basis: 23%;
        margin: 0.5vw 1vw 0.5vw 0;
    }

    #awards .twenty-five-percent.award-text {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    #awards .fifty-percent {
        display: none;
        visiblity: hidden;
        opacity: 0;
    }
    .award-text div {
        width: 100%;
    }
    #awards .image-gallery .image:before {
        flex-basis: 100%;

    }
    #awards .image-gallery .image:hover:before {
        background: rgba(255, 30, 52, 0.8);
        flex-basis: 100%;

    }

    #core-values p {
        margin: 2rem 0 2rem 8vw;
    }

    #inspiration-day .text-block {
        right: 16%;
    }
    #inspiration-day #pin1 {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}
@media only screen and (max-width: 685px) {
    #exciting .container {
        margin: 4vw 0;
    }
    #exciting .two-image-container {
        margin: 4vw 0;
    }
    #twenty-four-hour-give .two-sixty-six-point {
        font-size: 25vw;
    }
    #twenty-four-hour-give .text-block {
        bottom: -20vw;
        right: 0;
        width: 17em;
        height: 17em;
    }
    #success-quote {
        width: 100%;
    }
    #bbb .sixty-point {
        left: 15%;
    }
    #bbb .text-block {
        bottom: -20vw;
        width: 14em;
        height: 14em;
        right: 0;
    }
    #birthday .text-block {
        right: 0;
        bottom: -20vw;
        width: 15em;
        height: 15em;
    }
    .yesVideo {
        bottom: -32% !important;
    }
}
@media only screen and (max-width: 401px) {
    #inspiration-day #pin1 {
        padding-top:10em;
    }
    #bbb .sixty-point {
        left: 5%;
    }
    #birthday .text-block {
        bottom: -15vw;
        width: 14em;
        height: 14em;
    }
    #bbb .text-block {
        width: 10em;
        min-width: 130px;
        height: 10em;
        min-height: 130px;
    }
    .yesVideo {
        bottom: -38% !important;
    }
}

@font-face {
    font-family: 'Interstate Light';
    font-style: normal;
    font-weight: normal;
    src: local('Interstate Light'),
        url('assets/fonts/interstate/interstate-light.woff') format('woff'),
        url('assets/fonts/interstate/interstate-light.ttf') format('truetype');
}
@font-face {
    font-family: 'Interstate Regular';
    src: local('Interstate Regular'),
        url('assets/fonts/interstate/interstate-regular.ttf') format('truetype'),
        url('assets/fonts/interstate/interstate-regular.woff') format('woff');
}
@font-face {
    font-family: 'Interstate UltraBlack';
    src: local('Interstate UltraBlack'), url('assets/fonts/interstate/Interstate-UltraBlack.ttf') format('truetype'),
        url('assets/fonts/interstate/Interstate-UltraBlack.woff') format('woff');
}
@font-face {
    font-family: 'Miller Text Italic';
    src: local('Miller Text Italic'),
        url('assets/fonts/miller/MillerText-Italic.otf') format('opentype');
}
